.foot-desc-txt {
  margin-top: 22px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #ff9902;
}

.sns-context {
  margin-top: 17px;
  width: 137px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foot-category-title {
  width: 106px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #c5c8c9;
}

.foot-category-link {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;

  a {
    color: #ff9902;
    text-decoration: none;
    cursor: pointer;
  }
}

.find-us {
  display: flex;
  flex-direction: row;

  span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    color: #c5c8c9;
  }

  div {
    margin-left: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #ff9902;
  }
}

.copyright-txt {
  margin-top: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #ff9902;

  .copyright-brand {
    font-weight: 700;
    color: #c5c8c9;
  }

  .copyright-owner {
    color: #ff9902;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 200ms ease-in-out;
  }

  .copyright-owner:hover {
    border-color: #ff9902;
  }
}

.footer-main {
  width: 100%;
}

.footer-links {
  width: 100%;
}

.foot-category-title {
  &:after {
    display: block;
    content: "";
    border-bottom: solid 2px #ff9902;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
  }

  &:hover:after {
    transform: scaleX(1);
  }
}

@media only screen and (max-width: 767px) {
  .footer-main {
    flex-direction: column !important;
    align-items: center;
    gap: 28px;
    margin-top: 40px !important;
  }

  .footer-brand {
    width: 100% !important;
    align-items: center;
  }

  .footer-links {
    flex-direction: column !important;
    align-items: center;
    gap: 24px !important;
    margin-left: 0 !important;
  }

  .footer-column {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-separator {
    margin-top: 40px !important;
  }

  .footer-copyright {
    text-align: center;
    padding: 0 16px;
  }

  .foot-desc-txt,
  .copyright-txt {
    text-align: center;
  }

  .sns-context {
    width: 100%;
    justify-content: center;
    gap: 16px;
  }

  .foot-category-title,
  .foot-category-link {
    text-align: center;
  }

  .find-us {
    flex-direction: column;
    align-items: center;

    div {
      margin-left: 0;
    }
  }
}
