.home-header {
  width: 100%;
  height: 773px;
  display: flex;
  background: url("/img/banner.webp");
  background-size: cover;

    .header-container {
    margin-top: 55px;
    height: 642px;
    
    .header-frame {
      margin-top: 142px;
      height: 462px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .detail {
        width: 510px;
        display: flex;
        flex-direction: column;

        .head-main-txt {
          width: 450px;
          height: 150px;
          font-family: "Roboto Serif";
          font-size: 50px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.75px;
          color: #f8f8ff;
        }

        .wel-txt {
          width: 510px;
          height: 42px;
          font-family: "Roboto Serif";
          font-size: 36px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.54px;
          color: #d7b686;
        }

        .service-txt {
          margin-top: 23px;
          width: 153px;
          height: 23px;
          font-family: "Roboto Serif";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.3px;
          color: #d5d5d5;
        }
      }
    }

    .detail {
      .signup {
        margin-top: 73px;
      }

      .signup-button {
        width: 210px;
        height: 60px;
        border-radius: 4px;
        background: #1976d2;
        color: #f8f8ff;
      }
    }
  }
}